<div class="message-container <%= message.user != user ? 'current-message' : 'user-message' %>" id="message-<%= message.id %>">
  <i class="author">
    <span><strong><%= message.user.name %></strong></span>
  </i>
  <p class="line-text"><%= message.content %></p>
</div>
<div class="message-container <%= message.user != user ? 'current-time' : 'user-time' %>">
  <small><%= message.created_at.strftime("%l:%M%p") %></small>
</div>


