<% @users.each do |user| %>
  <div class="d-flex justify-content-center">
    <div class="row">
      <div class="col">
      <div class="card c">
        <div class="top-sec">

          <% if user.photos.any? %>
            <%= cl_image_tag user.photos.first.key %>
          <% end %>
         <div class="sign-sec <%= user.sign %> user-sign">
        </div>
        </div>

      <div class="bottom-sec">
        <div class="d-flex">
          <%= simple_form_for @like, html: {id: "dislike_form_#{user.id}"} do |f|%>
            <%= f.input :receiver_id, as: :hidden, input_html: { value: user.id, id: "dislike_receiver_id_#{user.id}" } %>
            <%= f.input :liked, as: :hidden, input_html: { value: false, id: "dislike_liked_#{user.id}" } %>
            <%= f.submit "Dislike"%>
            <% end %>
          <%= simple_form_for @like, html: {id: "like_form_#{user.id}"} do |f|%>
            <%= f.input :receiver_id, as: :hidden, input_html: { value: user.id, id: "like_receiver_id_#{user.id}" } %>
            <%= f.input :liked, as: :hidden, input_html: { value: true, id: "like_liked_#{user.id}" } %>
            <%= f.submit "Like"%>
          <% end %>
        </div>

          <h4><strong><%= user.name %></strong>, <%= user.age(user.birth_date) %></h4>
          <p><%= user.personality_trait %></p>
          <p><%= user.biography %></p>
        </div>
        </div>
        </div>
      </div>
    </div>
<% end %>
