<div class="min-vh-80">
<% @users.each do |user| %>
  <div class="row">
    <div class="col">
      <div class= "card c">
        <div class="top-sec">
          <%= cl_image_tag user.photos.first.key %>
          <%= simple_form_for @like do |f|%>
            <%= f.input_field :receiver_id, class: "d-none", value: user.id %>
            <%= f.input_field :liked, class: "d-none" %>
            <%= f.submit %>
          <% end %>
        </div>
        <div class="bottom-sec">
          <h4><strong><%= user.name %></strong>, <%= user.age(user.birth_date) %></h4>
          <p><%= user.personality_trait %></p>
          <p class="biography-index"><%= user.biography %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
