<% if @users.empty? %>
<div class="loader text-center">
  <h5>We are currently wandering the galaxy to find new profiles...</h5>
<div class="planet">
  <div class="wrap">
     <div class="background"></div>
     <div class="clouds"></div>
  </div>
  <div class="mask"></div>
</div>
</div>
<% else %>
<div id="slider" class="swipe">
  <div class="swipe-wrap">
    <% @users.each do |user| %>
      <div class="d-flex justify-content-center user-profile-card" id="user-profile-card_<%= user.id %>" data-receiver-id="<%= user.id %>">
        <div class="row">
          <div class="col">
          <div class="card c">
            <div class="top-sec">

              <% if user.photos.any? %>
                <%= cl_image_tag user.photos.first.key %>
              <% end %>
             <div class="sign-sec <%= user.sign.downcase %> user-sign">
            </div>
            </div>

          <div class="bottom-sec">
            <h4><strong><%= user.name %></strong>, <%= user.age(user.birth_date) %></h4>
            <div class="d-flex pb-2">
              <% id = user.id %>
              <% @score[id.to_s].times do %>
                <%= image_tag "icons/heart.png", class: "mr-1" %>
              <% end %>
              <% (3 - @score[id.to_s]).times do %>
                <%= image_tag "icons/heart_empty.png", class: "mr-1" %>
              <% end %>

             </div>
              <ul class="list-group list-group-horizontal flex-wrap justify-items-center">
              <% user.personality_traits.each do |personality_trait| %>
              <li class="perso-traits list-group-item"><%= personality_trait %></li>
              <% end %>
             </ul>
              <p><%= user.biography %></p>
            </div>
            </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
<% end %>
