<div class="footer fixed-bottom">
  <div class="footer-links">
  <%= link_to "#", class: "navbar-brand m-0 profile" do %>
    <%= image_tag "profilephoto.png" %>
  <% end %>
  <%= link_to "#", class: "navbar-brand m-0 heartz" do %>
    <%= image_tag "cropheartz.png" %>
  <% end %>
  <%= link_to "#", class: "navbar-brand m-0 message" do %>
    <%= image_tag "message.png" %>
  <% end %>
  </div>
</div>
