<div class="footer">
  <div class="footer-links">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "profilephoto.png" %>
  <% end %>
  <%= link_to "#", class: "navbar-brand heartz" do %>
    <%= image_tag "cropheartz.png" %>
  <% end %>
  <%= link_to "#", class: "navbar-brand message" do %>
    <%= image_tag "messageheart.png" %>
  <% end %>
  </div>
</div>
