<div class="footer">
  <div class="footer-links">
  <% if current_user %>
    <%= link_to user_path(current_user), class: "navbar-brand m-0 profile" do %>
      <%= image_tag "icons/user.png" %>
    <% end %>
    <%= link_to "#", class: "navbar-brand m-0 chart" do %>
      <%= image_tag "icons/Group.png" %>
    <% end %>
  <% end %>
  <%= link_to users_path, class: "navbar-brand m-0 heartz" do %>
    <%= image_tag "icons/hearts2.png" %>
  <% end %>
  <%= link_to "#", class: "navbar-brand m-0 message" do %>
    <%= image_tag "icons/chat.png" %>
  <% end %>
  </div>
</div>
