<div class="navbar navbar-expand-sm navbar-light navbar-chatroom">
   <span><%= cl_image_tag @chatroom.user_matches.where.not(user: current_user).first.user.photos.first.key, class: "avatar-message" %>
    <%= link_to user_path(@chatroom.user_matches.where.not(user: current_user).first.user) do %>
    <%= @chatroom.user_matches.where.not(user: current_user).first.user.name %></span>
    <% end %>
</div>

<div class="container custom-container" >
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <div class="message-container <%= message.user == current_user ? 'current-message' : 'user-message' %>" id="message-<%= message.id %>">
        <i class="author">
          <span><strong><%= message.user.name %></strong></span>
        </i>
        <p class="line-text"><%= message.content %></p>
      </div>
      <div class="message-container <%= message.user == current_user ? 'current-time' : 'user-time' %>">
         <% if message.created_at.today? %>
          <small>Today at <%= message.created_at.strftime("%l:%M%p")%></small>
          <% else %>
          <small><%= message.created_at.strftime("%e %b. %Y")%></small>
          <% end %>
      </div>
    <% end %>
      </div>
      <div class="input-text">
    <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
        <div class="text-button">
          <%= f.input :content, as: :string, label: false, placeholder: "Send love..."%>
          <%= f.submit 'SEND', id: 'submit-btn' %>
        </div>
    <% end %>
  </div>
</div>


