<div class="d-flex head-box">
<% @matches.each do |match| %>
  <% match.user_matches.where.not(user: current_user).each do |user_match| %>
  <div class="avatar-chat">
    <%= link_to chatroom_match_path(user_match.match) do %>
      <%= cl_image_tag user_match.user.photos.first.key, class: "avatar-message" %>
    <% end %>
  </div>
  <% end %>
<% end %>
</div>


<div>
<% if @matches.empty? %>
    <div class="container">
      <h1>Planets did not align for you yet</h1>

      <div class="bird-container bird-container--one">
        <div class="bird bird--one"></div>
      </div>

      <div class="bird-container bird-container--two">
        <div class="bird bird--two"></div>
      </div>

      <div class="bird-container bird-container--three">
        <div class="bird bird--three"></div>
      </div>

      <div class="bird-container bird-container--four">
        <div class="bird bird--four"></div>
      </div>
    </div>
    <div class="nomatch">
      <%= link_to "Back to Matches", users_path, class:"button" %>
    </div>
<% else %>
<% @matches.each do |match| %>
  <% match.user_matches.where.not(user: current_user).each do |user_match| %>
  <div class="d-flex message-story">
    <div class="small-head">
      <%= cl_image_tag user_match.user.photos.first.key, class: "avatar-message" %>
    </div>
    <div class="message-row">
      <% if  user_match.match.messages.last.nil?%>
      <div class="row">
        <strong><%= user_match.user.name %></strong>
      </div>
      <div class="row">
        <%= link_to "Let your story begin...", chatroom_match_path(user_match.match), class: "text-message" %>
      </div>
      <% else  %>
      <div class="row">
        <strong><%= user_match.user.name %></strong>
      </div>
      <div class="row small-message">
        <%= link_to user_match.match.messages.last.content.truncate(25) , chatroom_match_path(user_match.match), class: "text-message" %>
        <small>at <%= user_match.match.messages.last.created_at.strftime("%l:%M%p") %></small>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
  <% end  %>
<% end %>
</div>
