
      <%= link_to users_path do %>
          <!-- <i class="far fa-window-close x txt-pink mt-3"></i> -->
          <!-- <i class="fas fa-window-close x txt-pink mt-3"></i> -->
          <i class="far fa-times-circle x txt-pink mt-3"></i>
      <% end %>

        <h2 class="text-center my-4 txt-pink"><strong>Planets are aligned!</strong></h2>
        <% @match.user_matches.each do |user_match| %>
          <% if user_match.user != current_user %>
            <p class="txt-pink text-center"><strong>Looks like you and <%= user_match.user.name %> have a cosmic crush for each other</strong></p>
          <% end %>
        <% end %>
        <div class="d-flex justify-content-center mb-5">
            <% @match.user_matches.each do |user_match| %>
                <div class="avatar-match mx-3 mt-5">
                  <%= link_to user_path(user_match.user) do %>
                    <%= cl_image_tag user_match.user.photos.first.key, class: "avatar-match" %>
                  <% end %>
                  <div class="sign-match <%= user_match.user.sign.downcase %>">
                  </div>
                </div>
            <% end %>
        </div>
        <div>
            <% @match.user_matches.each do |user_match| %>
                <% if user_match.user != current_user %>
                <div class="d-flex flex-column justify-content-center text-center">
                  <%= link_to "Chat with #{user_match.user.name}", chatroom_match_path(@match), class: "pink-button mt-4"%>
                  <a class="pink-txt mt-3 text-decoration-none" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    What to expect? <span><i class="fas fa-caret-down"></i></span>

                  </a>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                      <p><%= @match_description %></p>
                    </div>
                  </div>
               </div>
                <% end %>
            <% end %>
        </div>










