<!DOCTYPE html>
<html>
  <head>
    <title>COSMEET</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable"  content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="manifest" href=" <%= asset_path 'manifest.json' %>">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>" class="min-vh-100">
    <% unless controller_name == "pages"  %>
      <%= render 'shared/navbar' %>
    <% end  %>
    <%= render 'shared/flashes' %>
    <div class="container <%= "min-vh-100" if controller_name == "pages" %>">
      <%= yield %>
    </div>
      <% unless controller_name == "pages"  %>
        <%= render 'shared/footer' %>
      <% end  %>
  </body>
</html>
